<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Get</title>
</head>
<body style="background-color:@ViewBag.favColor">
    <div> 
        <p>@ViewBag.favColor</p>
        <p>@ViewBag.timeout</p>
    </div>
</body>
</html>
