<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <div>
        <form method="post" action="Auth">

            <label for="uname"><b>Username</b></label>
            <input id="name" type="text" placeholder="Enter Username" name="username" required>

            <label for="psw"><b>Password</b></label>
            <input id="pass" type="password" placeholder="Enter Password" name="password" required>

            <input id="details" type="submit" value="submit">

        </form>
    </div>
</body>
</html>
