@{
    Layout = "~/Views/Shared/MasterTemplate.cshtml";
}



<div class="container">
    <div class="rowcol-md-6 col-md-offset-3">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="https://media.istockphoto.com/photos/man-using-online-banking-with-credit-card-on-touch-screen-device-picture-id962095876?k=6&m=962095876&s=612x612&w=0&h=bd5bdXZBEgE_7Qm0bgh78NfTjGBxZK5tJNQajumhjM4=" alt="Card image cap">
            <div class="card-body text-center" >              
            </div>
        </div>
    </div>
</div>